<section class="page-content-container">
  <!--Balance-->
  <div class="big-box">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <balance-module>
          </balance-module>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!--Savings-->
  <div class="big-box">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <savings-sum></savings-sum>
        </mat-expansion-panel-header>
        <div class="list-container">
          <savings-list></savings-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!--Income-->
  <div class="big-box">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <income-sum></income-sum>
        </mat-expansion-panel-header>
        <div class="list-container">
          <income-list></income-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!--Costs-->
  <div class="big-box">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <cost-sum></cost-sum>
        </mat-expansion-panel-header>
        <div class=" list-container">
          <cost-list></cost-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <pie-chart></pie-chart>
  </div>
</section>