#new-category-name {
    min-width: 100px;
    max-width: 400px;
}

#new-category-color-picker {
    min-height: 38px;
    min-width: 100px;
    max-width: 400px;
}

#add-new-category-button {
    font-size: 11px;
}

.table-header {
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px; 
    background-color: grey;
}