.savings-indicator.positive {
    color: green;
    font-weight: bold;
}

.savings-indicator.negative {
    color: red;
    font-weight: bold;
}

.savings-indicator.neutral {
    color: orange;
    font-weight: bold; 
}

.mat-progress-bar {
    height: 30px;
}

.small-div {
    width: 500px;
}

