
@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Raleway/Raleway-Black.ttf')  format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('assets/fonts/Lobster/Lobster-Regular.ttf')  format('truetype');
}